################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/chapter1/node_modules
/chapter2/ProjectAPIDemo/.vs
/chapter2/ProjectAPIDemo/ProjectAPIDemo/obj
/chapter2/ProjectAPIDemo/ProjectAPIDemo/bin
/chapter3/ProjectAPIDemo/.vs
/chapter3/ProjectAPIDemo/ProjectAPIDemo/obj
/chapter3/ProjectAPIDemo/ProjectAPIDemo/bin
/chapter4/WebApiCourse/.vs
/chapter4/WebApiCourse/ProjectApi/obj
/chapter4/WebApiCourse/ProjectApi/bin
/chapter5/WebApiCourse/.vs
/chapter5/WebApiCourse/ProjectApi/obj
/chapter5/WebApiCourse/ProjectApi/bin
/chapter5/WebApiCourse/Core/bin
/chapter5/WebApiCourse/Core/obj
